/* ------------ START - General styles ------------ */
:root {
  --color-primary: #2b406e;
  --color-primary-hover: #354f86;
  --color-secondary: #1e65ff;
  --color-secondary-hover: #5181e9;
  --color-accent: #2fa6c4;
  --color-accent-hover: #25b2d1;
  --color-headings: #1b0760;
  --color-white: #fff;
  --color-black: #000;
  --color-border: #ccc;
  --border-radius: 25px;
}

*,
*::before,
*::after {
  box-sizing: border-box; /*Boxes will be in real size (Padding, margin, border won't be added to the size)*/
}

html {
  font-size: 62.5%; /*10px*/
}

body {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  line-height: 1.1;
}

a {
  text-decoration: none;
  margin: 0;
}
/* ------------ END - General styles ------------ */

/* ------------ START - Navbar styles ------------ */
.nav {
  display: flex;
  justify-content: space-between; /*Pushes the items to the edge of the container*/
  background: #222;
  padding: 1rem;
  align-items: center;
  height: 180px;
}

li {
  display: block;
}

li a {
  display: inline-block;
  text-align: center;
  padding: 1rem;
  width: 30%;
  white-space: nowrap;
  color: var(--color-white);
  transition: color 0.3s;
}

li a:hover {
  color: #dfd9d9;
}

@media screen and (min-width: 768px) {
  .nav {
    height: 120px;
  }

  li {
    display: inline-block;
  }

  li a {
    padding: 2.5rem;
  }

  .list__item .list__link {
    font-size: 1.8rem;
  }
}
/* ------------ END - Navbar styles ------------ */

/* ------------ START - Input-group styles ------------ */
/* BUTTON */
.btn {
  border-radius: var(--border-radius);
  border: 0;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 1.1px;
  margin: 1rem auto;
  padding: 1.2rem 1.5rem; /*V H*/
  text-transform: uppercase;
}

.btn--primary {
  color: var(--color-white);
  background: var(--color-primary);
}

.btn--secondary {
  color: var(--color-white);
  background: var(--color-secondary);
}

.btn--accent {
  color: var(--color-white);
  background: var(--color-accent);
}

.btn--primary:hover {
  background: var(--color-primary-hover);
}

.btn--secondary:hover {
  background: var(--color-secondary-hover);
}

.btn--accent:hover {
  background: var(--color-accent-hover);
}
/* BUTTON */

/* INPUT */
.email-input {
  font-size: 2rem;
  border-radius: var(--border-radius);
  outline: none;
  color: var(--color-primary);
}

::placeholder {
  color: #92919e;
}
/* INPUT */

/* INPUT-Group */
.input-group {
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  display: flex; /*Keeps the input & btn next to each other*/
  margin: 5rem auto;
  width: 80%;
}

.input-group .email-input {
  border: 0;
  flex-grow: 1;
  padding: 1.5rem 1rem;
  width: 0; /*If we don't define this value, the input grows out of the input group*/
  padding: 0.5rem 2rem;
}

.input-group .btn {
  margin: 2px;
  font-size: 1.8rem;
}
/* INPUT-Group */
/* ------------ END - Input-group styles ------------ */

/* ------------ START - HEADER styles ------------ */
/* .header {
  margin: 3rem auto;
  text-align: center;
}

.header__heading {
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1.5px;
}

.header__section .input-group {
  margin: 0 auto;
} */
/* ------------ END - HEADER styles ------------ */

/* ------------ START - FEATURES styles ------------ */
.grid {
  display: grid;
}

/* Articles */
.features {
  margin: 0 auto;
  max-width: 570px;
  padding: 3rem;
}

.feature {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  padding-bottom: 5rem;
}

.feature__img {
  height: 80px;
  margin-right: 5rem;
  width: 80px;
}

.feature__heading {
  font-size: 3rem;
  margin-bottom: 0;
  margin-top: 20px;
}

.feature__content > p {
  font-size: 1.4rem;
  margin-top: 10px;
  white-space: nowrap;
}
/* Articles */

/* 2 columns in 768px */
@media screen and (min-width: 768px) {
  .grid--1x2 {
    /*Defines 2 equal columns in screens wider than 768px*/
    grid-template-columns: repeat(2, 1fr);
  }

  .feature {
    max-width: 1024px;
  }

  .feature__img {
    width: 60px;
    height: 60px;
    margin-right: 5rem;
  }

  .feature__heading {
    font-size: 2.7rem;
  }

  .feature__content > p {
    font-size: 1.6rem;
    white-space: normal;
  }
}
/* 2 columns in 768px */
/* ------------ END - FEATURES styles ------------ */

/* ------------ START - VIDEO SECTION styles ------------ */
.video-section {
  display: inline-block;
  height: 315px;
  margin-top: 0;
  margin: auto;
  max-width: 570px;
  padding: 1rem;
  width: 100%;
}

#video {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .video-section {
    display: flex;
    justify-content: center;
    max-height: 610px;
    max-width: 1024px;
  }

  #video {
    width: 60%;
    height: 100%;
  }
}
/* ------------ END - VIDEO SECTION styles ------------ */

/* ------------ START - PLAN CARD styles ------------ */
/* Structure */
.plan {
  padding: 10px;
  max-width: 570px;
  width: 90%;
  margin: 5rem auto;
}

.card {
  border-radius: 7px;
  box-shadow: 0 0 20px 10px #d8d7d7;
  overflow: hidden;
  margin-bottom: 3rem;
}
/* Structure */

/* Skins */
/* HEADER SKIN */
.card__header,
.card__body {
  padding: 2rem 3rem; /*V H*/
}

.card--primary .card__header {
  background: var(--color-primary);
  color: var(--color-white);
}

.card--secondary .card__header {
  background: var(--color-secondary);
  color: var(--color-white);
}

.card--accent .card__header {
  background: var(--color-accent);
  color: var(--color-white);
}

.plan__name {
  color: var(--color-white);
  font-size: 2.7rem;
  font-weight: 600;
  margin: 0;
  letter-spacing: 1px;
}

.plan__price {
  font-size: 3rem;
  display: inline-block;
  margin: 1.5rem 1rem;
}

.plan__billing-cycle {
  font-size: 1.6rem;
  display: inline-block;
  font-weight: 300;
  opacity: 0.8;
  margin: 0;
}

.plan__description {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1px;
  display: block;
}
/* HEADER SKIN */

/* BODY SKIN */
.list {
  list-style: none; /*Removes the bullet points*/
  padding-left: 0; /*Removes the left padding applied by the browsers*/
  color: var(--color-headings);
}

.list--tick {
  padding-left: 3rem;
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  white-space: nowrap;
}

.plan .list__item {
  margin-bottom: 2rem;
}

.plan .card__btn {
  width: 95%;
  margin: 1rem auto;
  font-size: 1.8rem;
  text-align: center;
}
/* BODY SKIN */
/* Skins */

/* MEDIA */
@media screen and (min-width: 768px) {
  .plan {
    max-width: 1024px;
    width: 100%;
    display: flex;
    /* flex-grow: 1; */
    /* justify-content: space-between; */
  }

  .card {
    margin: 0 2rem;
  }

  .plan__name {
    font-size: 2.1rem;
  }

  .plan__price {
    font-size: 2rem;
  }

  .plan__billing-cycle {
    font-size: 1.4rem;
  }

  .plan__description {
    font-size: 1.8rem;
  }
  .list--tick {
    padding-left: 2rem;
  }

  .list--tick .list__item {
    font-size: 1.5rem;
  }

  .plan .card__btn {
    width: 100%;
    margin: 0.5rem;
    font-size: 1.6rem;
  }
}
/* MEDIA */
/* ------------ END - PLAN CARD styles ------------ */

/* ------------ START - FOOTER styles ------------ */
/* Footer*/
.block {
  --padding-vertical: 6rem;
  padding: var(--padding-vertical) 2rem;
}

.block--dark {
  background: var(--color-black);
  color: #8d99a0; /*Changes the fonts*/
}

.footer {
  background: #232323;
}
/* Footer*/

/* Footer > Div */
.container {
  max-width: 570px;
  margin: 0 auto;
  padding: 1rem;
}

.footer__section {
  padding: 2rem;
}
/* Footer > Div */

/* Footer > Div > Section */
.collapsible--expanded .collapsible__chevron {
  transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__chevron {
  transform: rotate(-90deg);
  transition: transform 0.3s;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  transform: all 0.3;
  opacity: 0;
}
/* Footer > Div > Section */

.footer a {
  color: #777;
  transition: color 0.3s;
}

.footer a:hover {
  color: var(--color-white);
}

.footer__heading {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.2rem;
}

.footer__section .list {
  margin: 0;
}

/* LIST */
.footer .list {
  display: inline-block;
  padding: 0;
  margin: 0 1.5rem;
}

.list a {
  display: inline-block;
  font-size: 1.9rem;
  margin: 0.5rem 0;
  text-decoration: none;
}
/* LIST */

/* ICON */
.icon {
  width: 40px;
  height: 40px;
}

.icon--white {
  fill: var(--color-white);
}
/* ICON */

/* Media */
@media screen and (min-width: 768px) {
  .footer__sections {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    border: 1px solid red;
    max-width: 1344px;
  }

  .footer .collapsible__chevron {
    display: none; /*Removes the chevron in wide screens*/
  }

  .footer .collapsible__content {
    opacity: 1;
    max-height: 100%;
  }

  .footer__heading {
    font-size: 2.1rem;
  }

  .footer .list {
    display: flex;
    flex-direction: column;
    border: 1px solid yellow;
    margin-left: 0;
  }

  .list a {
    display: inline-block;
    font-size: 1.7rem;
    margin: 0;
    text-decoration: none;
  }
}
/* Media */
/* ------------ END - FOOTER styles ------------ */
