/* ------------ START - General styles ------------ */
:root {
  --color-primary: #2b406e;
  --color-primary-hover: #354f86;
  --color-white: #fff;
  --color-black: #000;
  --color-border: #ccc;
  --border-radius: 25px;
}

*,
*::before,
*::after {
  box-sizing: border-box; /*Boxes will be in real size (Padding, margin, border won't be added to the size)*/
}

html {
  font-size: 62.5%; /*10px*/
}

body {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}
/* ------------ END - General styles ------------ */

/* ------------ START - Input-group styles ------------ */
/* BUTTON */
.btn {
  border-radius: var(--border-radius);
  border: 0;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 1.1px;
  margin: 1rem auto;
  padding: 1.2rem 1.5rem; /*V H*/
  text-transform: uppercase;
}

.btn--primary {
  color: var(--color-white);
  background: var(--color-primary);
}

.btn--primary:hover {
  background: var(--color-primary-hover);
}
/* BUTTON */

/* INPUT */
.email-input {
  font-size: 2rem;
  border-radius: var(--border-radius);
  outline: none;
  color: var(--color-primary);
}

::placeholder {
  color: #92919e;
}
/* INPUT */

/* INPUT-Group */
.input-group {
  border: 1px solid var(--color-border);
  display: flex; /*Keeps the input & btn next to each other*/
  width: 80%;
  border-radius: var(--border-radius);
}

.input-group .email-input {
  border: 0;
  flex-grow: 1;
  padding: 1.5rem 1rem;
  width: 0; /*If we don't define this value, the input grows out of the input group*/
  padding: 0.5rem 2rem;
}

.input-group .btn {
  margin: 2px;
  font-size: 1.8rem;
}
/* INPUT-Group */
/* ------------ END - Input-group styles ------------ */

/* ------------ START - HEADER styles ------------ */
.header {
  margin: 3rem auto;
  text-align: center;
}

.header__heading {
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1.5px;
}

.header__section .input-group {
  margin: 0 auto;
}
/* ------------ END - HEADER styles ------------ */

/* ------------ START - FEATURES styles ------------ */
.grid {
  display: grid;
}

/* Articles */
.feature {
  padding: 1rem;
  gap: 1rem auto; /*R C*/
  letter-spacing: 1.1px;
  width: 570px;
  margin: auto 0;
}

.feature__img {
  width: 80px;
  height: 80px;
}

.feature__heading {
  font-size: 3rem;
  margin-bottom: 0;
  margin-top: 20px;
}

.feature__content > p {
  font-size: 1.4rem;
  margin-top: 10px;
  white-space: nowrap;
}
/* Articles */

/* 2 columns in 768px */
@media screen and (min-width: 768px) {
  .grid--1x2 {
    /*Defines 2 equal columns in screens wider than 768px*/
    grid-template-columns: repeat(2, 1fr);
  }

  .feature {
    width: 768px;
  }
}
/* 2 columns in 768px */

/* 3 columns in 1024px */
/* @media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .feature {
    width: 1024px;
  }
} */
/* 3 columns in 1024px */
/* ------------ END - FEATURES styles ------------ */
