<!-- START - Features -->
<section class="features">
  <!-- Feature 1 -->
  <article class="grid grid--1x2 feature">
    <!-- First Grid -->
    <img src="images/easy.svg" alt="Easy icon" class="feature__img" />
    <!-- First Grid -->
    <!-- Second Grid -->
    <div class="feature__content">
      <h3 class="feature__heading">Easy to understand</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis, illo!
      </p>
    </div>
    <!-- Second Grid -->
  </article>
  <!-- Feature 1 -->
  <!-- Feature 2 -->
  <article class="grid grid--1x2 feature">
    <!-- First Grid -->
    <img src="images/computer.svg" alt="Easy icon" class="feature__img" />
    <!-- First Grid -->
    <!-- Second Grid -->
    <div class="feature__content">
      <h3 class="feature__heading">Practical Lessons</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis, illo!
      </p>
    </div>
    <!-- Second Grid -->
  </article>
  <!-- Feature 2 -->
  <!-- Feature 3 -->
  <article class="grid grid--1x2 feature">
    <!-- First Grid -->
    <img src="images/growth.svg" alt="Easy icon" class="feature__img" />
    <!-- First Grid -->
    <!-- Second Grid -->
    <div class="feature__content">
      <h3 class="feature__heading">Increase Your Income</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis, illo!
      </p>
    </div>
    <!-- Second Grid -->
  </article>
  <!-- Feature 3 -->
</section>
<!-- END - Features -->
