<!-- START - Plans -->
<div class="plan">
  <!-- START - Card 1-->
  <div class="card card--primary">
    <!-- START - Plan Card Header -->
    <header class="card__header">
      <h3 class="plan__name">For Beginners</h3>
      <span class="plan__price">$19.98</span>
      <span class="plan__billing-cycle">/Month</span>
      <span class="plan__description">Become a PRO</span>
    </header>
    <!-- END - Plan Card Header -->
    <!-- START - Plan Card Body -->
    <div class="card__body">
      <ul class="list list--tick">
        <li class="list__item">Esay-to-Follow lessons</li>
        <li class="list__item">Build projects</li>
        <li class="list__item">Step-by-Step Process</li>
      </ul>
      <!-- START - Button -->
      <button class="btn btn--primary card__btn">Get Started</button>
      <!-- END - Button -->
    </div>
    <!-- END - Plan Card Body -->
  </div>
  <!-- END - Card 1-->

  <!-- START - Card 2-->
  <div class="card card--secondary">
    <!-- START - Plan Card Header -->
    <header class="card__header">
      <h3 class="plan__name">For Intermediates</h3>
      <span class="plan__price">$18.98</span>
      <span class="plan__billing-cycle">/Month</span>
      <span class="plan__description">Be a PRO</span>
    </header>
    <!-- END - Plan Card Header -->

    <!-- START - Plan Card Body -->
    <div class="card__body">
      <ul class="list list--tick">
        <li class="list__item">Esay-to-Follow lessons</li>
        <li class="list__item">Build advanced projects</li>
        <li class="list__item">Access to source codes</li>
      </ul>

      <!-- START - Button -->
      <button class="btn btn--secondary card__btn">Get Started</button>
      <!-- END - Button -->
    </div>
    <!-- END - Plan Card Body -->
  </div>
  <!-- END - Card 2-->

  <!-- START - Card 3-->
  <div class="card card--accent">
    <!-- START - Plan Card Header -->
    <header class="card__header">
      <h3 class="plan__name">For Advanced</h3>
      <span class="plan__price">$21.98</span>
      <span class="plan__billing-cycle">/Month</span>
      <span class="plan__description">Become a HERO</span>
    </header>
    <!-- END - Plan Card Header -->

    <!-- START - Plan Card Body -->
    <div class="card__body">
      <ul class="list list--tick">
        <li class="list__item">Simplified Advanced Concepts</li>
        <li class="list__item">Build projects</li>
        <li class="list__item">Step-by-Step Process</li>
      </ul>

      <!-- START - Button -->
      <button class="btn btn--accent card__btn">Get Started</button>
      <!-- END - Button -->
    </div>
    <!-- END - Plan Card Body -->
  </div>
  <!-- END - Card 3-->
</div>
<!-- END - Plans -->
