<!-- START - Plan -->
<div class="plan">
  <!-- START - Card -->
  <div class="card card--primary">
    <!-- START - Plan Card Header -->
    <header class="card__header">
      <h3 class="plan__name">For Beginners</h3>
      <span class="plan__price">$19.98</span>
      <span class="plan__billing-cycle">/Month</span>
      <span class="plan__description">Become a PRO</span>
    </header>
    <!-- END - Plan Card Header -->

    <!-- START - Plan Card Body -->
    <div class="card__body">
      <ul class="list list--tick">
        <li class="list__item">Esay-to-Follow lessons</li>
        <li class="list__item">Build projects</li>
        <li class="list__item">Step-by-Step Process</li>
      </ul>

      <!-- START - Button -->
      <button class="btn btn--primary card__btn">Get Started</button>
      <!-- END - Button -->
    </div>
    <!-- END - Plan Card Body -->
  </div>
  <!-- END - Card -->
</div>
<!-- END - Plan -->
